* {
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: url("../img/Archive.jpg") no-repeat center center fixed;
    background-size: cover;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    position: relative;
    gap: 20px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.464);
}
h1 {
    color: #fff;
    font-weight: 2em;
}
h1 span {
    background-color: #0ea5e9;
    border-radius: 5px;
    padding: 2px;
}
button {
    background-color: #0ea5e9;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: transform 200ms;
}

button:hover {
    transform: scale(1.2);
}
button a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
}
